<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />   
    <title>Artist AngularJS Example</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.css" />    
</head>

<body ng-app="WebSpotify" ng-controller="ArtistController">
    <h1>Manage Artists using Spring-Boot/AngularJS!</h1>
    <form ng-submit="submitArtist()">
        <table>
            <tr>
                <th colspan="2">Add/Edit artist</th>
            </tr>
            <tr>
                <td>Artist Name</td>
                <td><input type="text" ng-model="artistForm.name" /></td>
            </tr>
            <tr>
                <td>Bio</td>
                <td><input type="text" ng-model="artistForm.bio" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit" class="blue-button" /></td>
            </tr>
        </table>
    </form>
    <table>
        <tr>
            <th>Artist Name</th>
            <th>Bio</th>
            <th>Operations</th>
        </tr>
        <tr ng-repeat="artist in artists">
            <td>{{ artist.name }}</td>
            <td>{{ artist.bio }}</td>
            <td><a ng-click="editArtist(artist)" class="blue-button">Edit</a> | <a ng-click="deleteArtist(artist)" class="red-button">Delete</a></td>
        </tr>
    </table>

    <br/>
    <p th:text="${messageToUser}"></p>
    <a th:href="@{/logout}">Log out</a>.

    <script src="/webjars/angularjs/1.6.4/angular.js"></script>
    <script src="/webjars/angularjs/1.6.4/angular-resource.js"></script>
    <script src="/webjars/angularjs/1.6.4/angular-route.js"></script>
    <script src="/js/app.js"></script>
    

</body>

</html>