<div *ngIf="!songs; else hasSongs">
    <p>No Songs Found: Find some favorite songs in browse.</p>
    <a [routerLink]="['/browse']">Find Songs</a>
</div>
<ng-template #hasSongs>
    <div id="album-tracklist" class="col-sm-8">
        <table class="table table-inverse song-table album-tracklist-table">
            <thead>
                <tr>
                    <th (click)="sort('title')">Title</th>
                    <th (click)="sort('artist')">Artist</th>
                    <th (click)="sort('album')">Album</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let song of songs">
                    <td>{{song.title}}</td>
                    <td>{{song.artist.name}}</td>
                    <td>{{song.album.title}}</td>
                    <td>{{song.durationString}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</ng-template>