<!-- <app-top-nav></app-top-nav>
<div class="container-fluid text-center main-container">
    <div class="row main-row" style="max-width:100%">
        <app-left-nav></app-left-nav>
        <div class="col-sm-8 text-left content-container style-1">
            <app-ad-banner></app-ad-banner>
            <router-outlet></router-outlet>
        </div>
        <app-followed-users-bar></app-followed-users-bar>
    </div>
    <app-audio-player></app-audio-player>
</div> -->


<div class="no_scrolling grid1" style="width:100vw;height:100vh;">

    <app-top-nav></app-top-nav>

    <!-- <div class="grid2">
        <app-left-nav></app-left-nav>
        <div class="content-container">
            <app-ad-banner></app-ad-banner>
            <router-outlet></router-outlet>
        </div>

        <app-followed-users-bar></app-followed-users-bar>
    </div> -->
    <div class="grid2">
        <app-left-nav></app-left-nav>
        <div class="content-container">
            <!-- <app-ad-banner></app-ad-banner> -->
            <router-outlet></router-outlet>
        </div>
        <app-followed-users-bar></app-followed-users-bar>
    </div>

    <app-audio-player></app-audio-player>
</div>
