.top_bar{
  height:10%;
  background-color:#ffffff;
  padding: 10px;
  resize:none;
}

.ad_bar {
    height:10%;
}

.bottom_bar{
  height:20%;
  /*background-color:#e0e0e0;*/
}
.wrapper_horizontal{
  display:grid;
  height:80vh;
  grid-template-columns: 10% 75% 15%;
}

.bottom_pad{
  border-bottom:2pt solid #e0e0e0;
}

.left_nav{
  border:1pt solid #e0e0e0;
}

/*Vinny CSS*/

.no_scrolling{
    overflow-x:hidden;
    overflow-y:hidden;
}

.grid1{
    display:grid;
    grid-template-rows:7fr 83fr 10fr;
}

.grid2{
    display:grid;
    grid-template-columns: 10fr 75fr 15fr;
}
