<div class="no_scrolling grid1" style="width:100vw;height:100vh;">
    <app-top-nav></app-top-nav>
    <div class="grid2">
        <app-left-nav></app-left-nav>
        <div>
            <div class="content-container" [ngClass]="contentSize()"><router-outlet></router-outlet></div>
            <div class="banner ad" [ngStyle]="{display: isAdOpen() }"><app-ad-banner></app-ad-banner></div>
        </div>
        <app-followed-users-bar></app-followed-users-bar>
    </div>

    <app-audio-player></app-audio-player>
</div>
