<div class="top_bar bottom_pad">
  <app-top-nav></app-top-nav>
</div>
<div class="wrapper_horizontal">
  <div class="left_nav"><app-left-nav></app-left-nav></div>
  <div><router-outlet></router-outlet></div>
  <div><app-right-nav></app-right-nav></div>
</div>
<div class="bottom_bar" style="padding-top:15px;"><app-audio-player></app-audio-player></div>

<!-- <div class="wrapperVertical">
  <div>
    <app-top-nav></app-top-nav>
  </div>

  <div class="wrapperHorizontal">
    <div>
      <app-left-nav></app-left-nav>
    </div>

    <div>
      <router-outlet></router-outlet>
    </div>

    <div>
      <app-right-nav></app-right-nav>
    </div>
  </div>

  <div>
    <app-audio-player></app-audio-player>
  </div>
</div> -->
