* {
    background-color: transparent;
}

.album-info > img {
      width: 200px;
}

.song-table {
      width:500px;
}

.center_loading{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

mat-row:hover {
    background-color: grey;
}

.album_section {
    margin-bottom: 20px;
}

.mat-column-trackNumber {
    max-width: 24px;
}

.mat-column-playButton {
    max-width: 32px;
}

.song_play_button {
    max-width: 32px;
    display: flex;
    align-content: center;
}

.mat-column-duration {
    max-width: 32px;
}

.mat-column-favoriteButton {
    max-width: 32px;
}
