<div *ngIf="!album; else albumLoaded;" class="center_loading">
    <!-- Needs loading gif -->
    <mat-spinner color="accent"></mat-spinner>
</div>
<ng-template #albumLoaded>
    <div id="album-wrapper col-sm-12">
        <div id="album-info" class="col-sm-4">
            <div class="col-sm-12">
                <div *ngIf="album.albumArt; else defaultArt;">
                    <img src="{{album.albumArtUrl}}" alt="{{album.title}}" style="width:200px; height:200px;">
                </div>
                <ng-template #defaultArt>
                    <img src="assets/images/default_art.png" alt="{{album.title}}" style="width:200px; height:200px;">
                </ng-template>
            </div>
            <div class="col-sm-12">
                <h3 class="album-title">{{album.title}}</h3>

                <h5>By
                    <span id="artist-name" [routerLink]="['/artists', album.artists[0].id]">{{album.artists[0].name}}</span>
                </h5>
            </div>
            <button class="btn btn-green block-center" (click)="playAlbum()">PLAY</button>

            <div>
                <div *ngIf="isFavorited; else notFavorited">
                    <button class="btn btn-black glyphicon glyphicon-heart" (click)="unfavoriteAlbum()" matTooltip="Unfavorite"></button>
                </div>
                <ng-template #notFavorited>
                    <button class="btn btn-grey " (click)="favoriteAlbum()">FAVORITE</button>
                </ng-template>
            </div>
        </div>

        <div id="album-tracklist" class="col-sm-8">
            <mat-table #table [dataSource]="albumSongTableManager.tableData" matSort>
                <!-- Track Column -->
                <ng-container matColumnDef="trackNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                    <mat-cell *matCellDef="let song">{{song.trackNumber}}</mat-cell>
                </ng-container>

                <!-- Play Button Column -->
                <ng-container matColumnDef="playButton">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let song">
                        <button mat-icon-button class="song_play_button" [ngStyle]="albumSongTableManager.getButtonVisibility(song.id)" (click)="albumSongTableManager.playSong(song.id)">
                            <mat-icon>play_circle_filled</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <!-- Title Column -->
                <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
                    <mat-cell *matCellDef="let song">{{song.title}}</mat-cell>
                </ng-container>

                <!-- More Actions Button Column -->
                <ng-container matColumnDef="moreActionsButton">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let song">
                        <button mat-icon-button [matMenuTriggerFor]="moreActionsMenu" [ngStyle]="albumSongTableManager.getButtonVisibility(song.id)">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #moreActionsMenu="matMenu">
                            <div *ngIf="!albumSongTableManager.hasPlaylists()">
                                <button mat-menu-item [routerLink]="['/createPlaylist']">
                                    <mat-icon>control_point</mat-icon>
                                    <span>Create a Playlist</span>
                                </button>
                            </div>
                            <div mat-menu-item *ngFor="let playlist of albumSongTableManager.getPlaylistsWhereNotIn(song.id)">
                                <button mat-menu-item (click)="albumSongTableManager.addSongToPlaylist(playlist.id, song.id)">
                                    <mat-icon>add</mat-icon>
                                    <span>Add To {{playlist.name}}</span>
                                </button>
                            </div>
                            <div mat-menu-item *ngFor="let playlist of albumSongTableManager.getPlaylistsWhereIn(song.id)">
                                <button mat-menu-item (click)="albumSongTableManager.addSongToPlaylist(playlist.id, song.id)">
                                    <mat-icon>remove</mat-icon>
                                    <span>Remove From {{playlist.name}}</span>
                                </button>
                            </div>
                        </mat-menu>
                    </mat-cell>
                </ng-container>

                <!-- Duration Column -->
                <ng-container matColumnDef="duration">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <mat-icon>schedule</mat-icon>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let song"> {{song.durationString}} </mat-cell>
                </ng-container>

                <!-- Favorite Button Column -->
                <ng-container matColumnDef="favoriteButton">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let song">
                        <button mat-icon-button class="song_favorite_button" (click)="albumSongTableManager.favoriteOrUnfavoriteSong(song.id)">
                            <mat-icon>{{albumSongTableManager.getFavoritedIcon(song.id, song.isFavorited)}}</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="['trackNumber', 'playButton', 'title', 'moreActionsButton', 'duration', 'favoriteButton']"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ['trackNumber', 'playButton', 'title', 'moreActionsButton', 'duration', 'favoriteButton'];"
                    (mouseenter)="albumSongTableManager.showButtons(row.id)"
                    (mouseleave)="albumSongTableManager.hideButtons(row.id)"></mat-row>
            </mat-table>
        </div>
    </div>
</ng-template>