<div *ngIf="!album; else albumLoaded;" class=""> <!-- Needs loading gif -->
    <mat-spinner color="green"></mat-spinner>
</div>
<ng-template #albumLoaded>
    <div id="album-wrapper col-sm-12">
        <div id="album-info" class="col-sm-4">
            <div class="col-sm-12">
            <div *ngIf="album.art; else defaultArt;">
                <img src="{{album.albumArtUrl}}" alt="{{album.title}}" style="width:200px; height:200px;">
            </div>
            <ng-template #defaultArt>
                    <img src="assets/images/default_art.png" alt="{{album.title}}" style="width:200px; height:200px;">
            </ng-template>
            </div>
            <div class="col-sm-12">
                <h3 class="album-title">{{album.title}}</h3>

                <h5>By
                    <span id="artist-name" [routerLink]="['/artists', album.artists[0].id]">{{album.artists[0].name}}</span>
                </h5>
            </div>
            <button class="btn btn-green block-center">PLAY</button>

            <div>
                <div *ngIf="isFollowed; else follow">
                    <button class="btn btn-black glyphicon glyphicon-heart" (click)="unfavoriteAlbum()"></button>
                </div>
                <ng-template #follow>
                    <button class="btn btn-grey " (click)="favoriteAlbum()">FAVORITE</button>
                </ng-template>
            </div>
        </div>

        <div id="album-tracklist" class="col-sm-8"></div>
        <table class="table table-inverse song-table album-tracklist-table">
            <thead>
                <tr>
                    <th (click)="sort('track')">#</th>
                    <th (click)="sort('title')">Title</th>
                    <th><mat-icon>schedule</mat-icon></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let song of album.songs;" (click)="addSongToQueue(song.id)">
                    <th>{{song.trackNumber}}</th>
                    <td>{{song.title}}</td>
                    <td>{{song.durationString}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>