<div *ngIf="!albums; else hasAlbums">
    <p>No Albums Found: Find some favorite albums in browse.</p>
    <a [routerLink]="['/browse']">Find Albums</a>
</div>
<ng-template #hasAlbums>
    <mat-grid-list cols="4" gutterSize="15px" class="padded">
        <mat-grid-tile *ngFor="let album of albums" [routerLink]="['/albums',album.id]">
            <!-- <div class="col_flex">
                <div *ngIf="album.albumArt; else defaultArt;">
                    <img src="{{album.albumArt.url}}" alt="{{album.title}}">
                </div>
                <ng-template #defaultArt>
                    <img width="200px" height="auto" src="assets/images/default_art.png" alt="{{album.title}}">
                </ng-template>
                <! <img src="{{album.albumArtUrl}}" alt="{{album.title}}"> -->
            <!-- <p class="album_name">{{album.title}}</p>
                <p class="artist_name">{{album.artistName}}</p> -->
            <!-- </div> -->
            <mat-card style="background-size: cover;">
                <div *ngIf="album.albumArt; else defaultArt;">
                    <img mat-card-image src="{{album.albumArtUrl}}" alt="{{album.title}}">
                </div>
                <ng-template #defaultArt>
                    <img mat-card-image width="200px" height="auto" src="assets/images/default_art.png" alt="{{album.title}}">
                </ng-template>
                <mat-card-footer>
                    <p class="album_name">{{album.title}}</p>
                    <p class="artist_name">{{album.artistName}}</p>
                </mat-card-footer>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</ng-template>