<div *ngIf="!albums; else hasAlbums">
    <p>No Albums Found: Find some favorite albums in browse.</p>
    <a [routerLink]="['/browse']">Find Albums</a>
</div>
<ng-template #hasAlbums>
    <mat-grid-list cols="4" gutterSize="15px" class="padded">
      <mat-grid-tile *ngFor="let album of albums"
                     [routerLink]="['/albums',album.id]">
          <div class="col_flex">
              <img src="{{album.albumArtUrl}}" alt="{{album.title}}">
              <p>{{album.title}}</p>
              <p>{{album.artistName}}</p>
          </div>
      </mat-grid-tile>
    </mat-grid-list>
</ng-template>
