<div *ngIf="!user; else userLoaded;" class="center_loading">
    <mat-spinner color="accent"></mat-spinner>
</div>
<ng-template #userLoaded>
    <div class="height flex_row_start" style="padding-left:20px;">
        <img src="{{user.profileImageUrl}}" class="followers">
        <div class="username" style="margin-left:20px;margin-top:auto;margin-bottom:auto;">{{user.username}}</div>
        <div *ngIf="!isSelf" class="flex_row">
            <button *ngIf="isFollowed; else notFollowed" class="btn btn-black" (click)="unfollowUser()" style="margin-left:15px;">
                UNFOLLOW
            </button>
            <ng-template #notFollowed>
                <button class="btn btn-black flex_row" (click)="followUser()" style="margin-left:15px;">FOLLOW</button>
            </ng-template>
        </div>
    </div>

    <div class="tabs1">

        <input type="radio" id="tab1" name="tab-control" checked>
        <input type="radio" id="tab2" name="tab-control">
        <input type="radio" id="tab3" name="tab-control">

        <ul>
            <li title="tab 1">
                <label for="tab1" role="button">
                    <span>Following</span>
                </label>
            </li>
            <li title="tab 2">
                <label for="tab2" role="button">
                    <span>History</span>
                </label>
            </li>
            <li title="tab 3">
                <label for="tab3" role="button">
                    <span>Playlists</span>
                </label>
            </li>
        </ul>
        <div class="slider">
            <div class="indicator"></div>
        </div>

        <div class="content">
            <section>
                <div *ngIf="!user.followedUsers || user.followedUsers.length === 0; else hasFollowedUsers;" class="center_text">
                    <h3>No Followed Users.</h3>
                </div>
                <ng-template #hasFollowedUsers>
                    <mat-grid-list cols="4" gutterSize="15px">
                        <mat-grid-tile *ngFor="let followedUser of user.followedUsers;">
                            <div class="flex_column hoverable">
                                <img [src]="followedUser.profileImageUrl" class="followers" />
                                <div class="flex_column" style="text-align:center">{{followedUser.username}}</div>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </ng-template>
            </section>

            <section>
                <div *ngIf="hasHistory; else noHistory">
                    <h3>Songs</h3>
                    <div id="album-tracklist">
                        <mat-table #table [dataSource]="historySongTableManager.tableData" matSort>

                            <!-- Play Button Column -->
                            <ng-container matColumnDef="playButton">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let song">
                                    <button mat-icon-button class="song_play_button" [ngStyle]="historySongTableManager.getButtonVisibility(song.id)" (click)="historySongTableManager.playSong(song.id)">
                                        <mat-icon>play_circle_filled</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <!-- Title Column -->
                            <ng-container matColumnDef="title">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
                                <mat-cell *matCellDef="let song">{{song.title}}</mat-cell>
                            </ng-container>

                            <!-- Artist Column -->
                            <ng-container matColumnDef="artist">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Artist </mat-header-cell>
                                <mat-cell *matCellDef="let song">{{song.artistName}}</mat-cell>
                            </ng-container>

                            <!-- Album Column -->
                            <ng-container matColumnDef="album">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Album </mat-header-cell>
                                <mat-cell *matCellDef="let song">{{song.albumTitle}}</mat-cell>
                            </ng-container>

                            <!-- More Actions Button Column -->
                            <ng-container matColumnDef="moreActionsButton">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let song">
                                    <button mat-icon-button [matMenuTriggerFor]="moreActionsMenu" [ngStyle]="historySongTableManager.getButtonVisibility(song.id)">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #moreActionsMenu="matMenu">
                                        <div mat-menu-item>
                                            <button mat-menu-item (click)="historySongTableManager.addSongToQueue(song.id)">
                                                <mat-icon>playlist_add</mat-icon>
                                                <span>Add to Queue</span>
                                            </button>
                                        </div>
                                        <div *ngIf="!historySongTableManager.hasPlaylists()">
                                            <button mat-menu-item [routerLink]="['/playlists']">
                                                <mat-icon>control_point</mat-icon>
                                                <span>Create a Playlist</span>
                                            </button>
                                        </div>
                                        <div mat-menu-item *ngFor="let playlist of historySongTableManager.getPlaylistsWhereNotIn(song.id)">
                                            <button mat-menu-item (click)="historySongTableManager.addSongToPlaylist(playlist.id, song.id)">
                                                <mat-icon>add</mat-icon>
                                                <span>Add To {{playlist.name}}</span>
                                            </button>
                                        </div>
                                        <div mat-menu-item *ngFor="let playlist of historySongTableManager.getPlaylistsWhereIn(song.id)">
                                            <button mat-menu-item (click)="historySongTableManager.addSongToPlaylist(playlist.id, song.id)">
                                                <mat-icon>remove</mat-icon>
                                                <span>Remove From {{playlist.name}}</span>
                                            </button>
                                        </div>
                                    </mat-menu>
                                </mat-cell>
                            </ng-container>

                            <!-- Duration Column -->
                            <ng-container matColumnDef="duration">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    <mat-icon>schedule</mat-icon>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let song"> {{song.durationString}} </mat-cell>
                            </ng-container>

                            <!-- Favorite Button Column -->
                            <ng-container matColumnDef="favoriteButton">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let song">
                                    <button mat-icon-button class="song_favorite_button" (click)="historySongTableManager.favoriteOrUnfavoriteSong(song.id)">
                                        <mat-icon>{{historySongTableManager.getFavoritedIcon(song.id, song.isFavorited)}}</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="['playButton', 'title', 'artist', 'album', 'moreActionsButton', 'duration', 'favoriteButton']"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: ['playButton', 'title', 'artist', 'album', 'moreActionsButton', 'duration', 'favoriteButton'];"
                                (mouseenter)="historySongTableManager.showButtons(row.id)" (mouseleave)="historySongTableManager.hideButtons(row.id)"></mat-row>
                        </mat-table>
                    </div>
                </div>
                <ng-template #noHistory>
                        <h3>No History.</h3>
                </ng-template>
            </section>

            <section>
                <!-- <div *ngIf="!user.favoritePlaylists || user.favoritePlaylists.length === 0; else hasPlaylists;" , class="center_text">
                    <h3>No Playlists.</h3>
                </div> -->
                <!-- <ng-template #hasPlaylists> -->
                    <mat-grid-list cols="4" gutterSize="15px">
                        <mat-grid-tile *ngFor="let playlist of user.favoritePlaylists;">
                            <div class="flex_column">
                                <img src="/assets/images/default_art.png" class="playlist"/>
                                <!-- <img src="{{playlist.playlistImageUrl}}" class="playlist" /> -->
                                <div>{{playlist.name}}</div>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                <!-- </ng-template> -->
            </section>
        </div>
    </div>
</ng-template>