<div *ngIf="!artist; else artistLoaded;" class="center_loading">
    <mat-spinner color="accent"></mat-spinner>
</div>
<ng-template #artistLoaded>
    <div class="row cover-info-box">
        <div class="col-sm-3 col-xs-12 cover-box-left">
            <img width="200" src="{{artist.artistImageUrl}}">
        </div>
        <div class="col-sm-8 col-xs-12 cover-box-right">

            <h1>{{artist.name}}</h1>
            {{followerCount}} FOLLOWERS
            <br>
            <br>
            <div class="flex_row">
                <button class="btn btn-green" (click)="playArtist()">PLAY</button>
                <div *ngIf="isFollowed; else notFollowed">
                    <button class="btn btn-black glyphicon glyphicon-heart" (click)="unfollowArtist()"></button>
                </div>
                <ng-template #notFollowed>
                    <button class="btn btn-grey" (click)="followArtist()">FOLLOW</button>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="tabs1">

        <input type="radio" id="tab1" name="tab-control" checked>
        <input type="radio" id="tab2" name="tab-control">
        <input type="radio" id="tab3" name="tab-control">

        <ul>
            <li title="tab 1">
                <label for="tab1" role="button">
                    <span>Releases</span>
                </label>
            </li>
            <li title="tab 2">
                <label for="tab2" role="button">
                    <span>About</span>
                </label>
            </li>
            <li title="tab 3">
                <label for="tab3" role="button">
                    <span>Related Artists</span>
                </label>
            </li>
            <!-- <li title="tab 4">
                <label for="tab3" role="button">
                    <span>Concerts</span>
                </label>
            </li> -->
        </ul>
        <div class="slider">
            <div class="indicator"></div>
        </div>

        <div class="content">
            <section>
                <div *ngIf="!albumTablesData; else albumsLoaded;" class="center_loading">
                    <mat-spinner color="accent"></mat-spinner>
                </div>
                <ng-template #albumsLoaded>
                    <div *ngFor="let album of artist.albums;">
                        <div id="album-info" class="col-sm-4" style="margin-top: 10px;">
                            <div class="col-sm-12">
                                <div *ngIf="album.albumArt; else defaultArt;">
                                    <img src="{{album.albumArtUrl}}" alt="{{album.title}}" style="width:200px; height:200px;">
                                </div>
                                <ng-template #defaultArt>
                                    <img src="assets/images/default_art.png" alt="{{album.title}}" style="width:200px; height:200px;">
                                </ng-template>
                            </div>
                            <div class="col-sm-12">
                                <h3 class="album-title" (click)="gotoAlbum(album.id)">{{album.title}}</h3>
                            </div>
                            <button class="btn btn-green block-center">PLAY</button>

                            <div>
                                <div *ngIf="album.isFavorited; else notFavorited">
                                    <button class="btn btn-black glyphicon glyphicon-heart" (click)="unfavoriteAlbum(album.id)"></button>
                                </div>
                                <ng-template #notFavorited>
                                    <button class="btn btn-grey " (click)="favoriteAlbum(album.id)">FAVORITE</button>
                                </ng-template>
                            </div>

                        </div>

                        <div id="album-tracklist" class="col-sm-8">
                            <mat-table #table [dataSource]="getAlbumData(album.id)" matSort>
                                <!-- Track Column -->
                                <ng-container matColumnDef="trackNumber">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                                    <mat-cell *matCellDef="let song">{{song.trackNumber}}</mat-cell>
                                </ng-container>
                
                                <!-- Play Button Column -->
                                <ng-container matColumnDef="playButton">
                                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                    <mat-cell *matCellDef="let song">
                                        <button mat-icon-button class="song_play_button" [ngStyle]="getPlayVisibility(song.id)" (click)="playSong(song.id)">
                                            <mat-icon>play_circle_filled</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>
                
                                <!-- Title Column -->
                                <ng-container matColumnDef="title">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
                                    <mat-cell *matCellDef="let song">{{song.title}}</mat-cell>
                                </ng-container>
                
                                <!-- Duration Column -->
                                <ng-container matColumnDef="duration">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        <mat-icon>schedule</mat-icon>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let song"> {{song.durationString}} </mat-cell>
                                </ng-container>
                
                                <!-- Favorite Button Column -->
                                <ng-container matColumnDef="favoriteButton">
                                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                    <mat-cell *matCellDef="let song">
                                        <button mat-icon-button class="song_favorite_button" (click)="favoriteOrUnfavoriteSong(song.id)">
                                            <mat-icon>{{getFavoritedIcon(song.id, song.isFavorited)}}</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>
                
                                <mat-header-row *matHeaderRowDef="['trackNumber', 'playButton', 'title', 'duration', 'favoriteButton']"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: ['trackNumber', 'playButton', 'title', 'duration', 'favoriteButton'];" 
                                    (mouseenter)="showPlay(row.id)" (mouseleave)="hidePlay(row.id)"></mat-row>
                            </mat-table>
                        </div>
                    </div>
                </ng-template>
            </section>

            <section>
                <p>{{artist.bio}}</p>
                <p>Website:</p>
                <a href="{{artist.website}}">{{artist.website}}</a>
            </section>

            <section>
                <div class="row">
                    <div *ngFor="let relatedArtist of relatedArtists" class="artist-card col-sm-3 center-block">
                        <div class="artist-card col-sm-3 center-block" (click)="gotoRelatedArtist(relatedArtist.id)">
                            <div *ngIf="relatedArtist.thumbnailFileId; else defaultArt;">
                                <img src="{{relatedArtist.artistImageUrl}}" alt="{{relatedArtist.name}}">
                            </div>
                            <ng-template #defaultArt>
                                <img src="assets/images/no_artist_picture.png" alt="{{relatedArtist.name}}">
                            </ng-template>
                            <p>{{relatedArtist.name}}</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- <section>
                <h2>Concerts</h2>
            </section> -->

        </div>
    </div>
</ng-template>