<div *ngIf="!artist; else loaded;">
    LOADING
</div>
<ng-template #loaded>
    <div class="row cover-info-box">
        <div class="col-sm-3 col-xs-12 cover-box-left">
            <img width="200" src="{{artist.artistImageUrl}}">
        </div>
        <div class="col-sm-8 col-xs-12 cover-box-right">

            <h1>{{artist.name}}</h1>
            {{followerCount}} FOLLOWERS
            <br>
            <br>
            <br>
            <br>
            <br>
            <button class="btn btn-green">PLAY</button>
            <div>
                <div *ngIf="isFavorited; else favorite">
                    <button class="btn btn-black glyphicon glyphicon-heart" (click)="unfollowArtist()"></button>
                </div>
                <ng-template #favorite>
                    <button class="btn btn-grey" (click)="followArtist()">FOLLOW</button>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="tabs1">

        <input type="radio" id="tab1" name="tab-control" checked>
        <input type="radio" id="tab2" name="tab-control">
        <!-- <input type="radio" id="tab3" name="tab-control"> -->
        <input type="radio" id="tab3" name="tab-control">

        <ul>
            <li title="tab 1">
                <label for="tab1" role="button">
                    <span>Releases</span>
                </label>
            </li>
            <li title="tab 2">
                <label for="tab2" role="button">
                    <span>Related Artists</span>
                </label>
            </li>
            <li title="tab 3">
                <label for="tab3" role="button">
                    <span>Concerts</span>
                </label>
            </li>
        </ul>
        <div class="slider">
            <div class="indicator"></div>
        </div>

        <div class="content">
            <section>
                    <ng-template #albumLoaded>
                            <div id="album-wrapper col-sm-12">
                                <div id="album-info" class="col-sm-4">
                                    <div class="col-sm-12">
                                    <div *ngIf="album.art; else defaultArt;">
                                        <img src="{{album.albumArtUrl}}" alt="{{album.title}}" style="width:200px; height:200px;">
                                    </div>
                                    <ng-template #defaultArt>
                                            <img src="assets/images/default_art.png" alt="{{album.title}}" style="width:200px; height:200px;">
                                    </ng-template>
                                    </div>
                                    <div class="col-sm-12">
                                        <h3 class="album-title">{{album.title}}</h3>
                        
                                        <h5>By
                                            <span id="artist-name" [routerLink]="['/artists', album.artists[0].id]">{{album.artists[0].name}}</span>
                                        </h5>
                                    </div>
                                    <button class="btn btn-green block-center">PLAY</button>
                        
                                    <div>
                                        <div *ngIf="isFollowed; else follow">
                                            <button class="btn btn-black glyphicon glyphicon-heart" (click)="unfavoriteAlbum()"></button>
                                        </div>
                                        <ng-template #follow>
                                            <button class="btn btn-grey " (click)="favoriteAlbum()">FAVORITE</button>
                                        </ng-template>
                                    </div>
                        
                                </div>
                        
                                <div id="album-tracklist" class="col-sm-8"></div>
                                <table class="table table-inverse song-table album-tracklist-table">
                                    <thead>
                                        <tr>
                                            <th (click)="sort('track')">#</th>
                                            <th (click)="sort('title')">Title</th>
                                            <th><mat-icon>schedule</mat-icon></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let song of album.songs;">
                                            <th>{{song.trackNumber}}</th>
                                            <td>{{song.title}}</td>
                                            <td>{{song.durationString}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
            </section>

            <section>
                <div class="row">
                    <div *ngFor="let relatedArtist of relatedArtists" class="artist-card col-sm-3 center-block">
                        <div class="artist-card col-sm-3 center-block" [routerLink]="['/artists', relatedArtist.id]">
                            <div *ngIf="relatedArtist.thumbnailFileId; else defaultArt;">
                                <img src="{{relatedArtist.artistImageUrl}}" alt="{{relatedArtist.name}}">
                            </div>
                            <ng-template #defaultArt>
                                    <img src="assets/images/no_artist_picture.png" alt="{{relatedArtist.name}}">
                            </ng-template>
                            <p>{{relatedArtist.name}}</p>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <h2>Concerts</h2>
            </section>

        </div>
    </div>
</ng-template>