<div class="row cover-info-box">
    <div class="col-sm-3 col-xs-12 cover-box-left">
        <img width="200" src="https://www.audioplug.net/files/2016/09/Drake.jpg">
    </div>
    <div class="col-sm-8 col-xs-12 cover-box-right">

        <h1>{{artist.name}}</h1>
        {{followerCount}} FOLLOWERS
        <br>
        <br>
        <br>
        <br>
        <br>
        <button class="btn btn-green">PLAY</button>
        <button class="btn btn-black">FOLLOW</button>
    </div>
</div>

<div class="tabs1">

    <input type="radio" id="tab1" name="tab-control" checked>
    <input type="radio" id="tab2" name="tab-control">
    <!-- <input type="radio" id="tab3" name="tab-control"> -->
    <input type="radio" id="tab3" name="tab-control">

    <ul>
        <li title="tab 1">
            <label for="tab1" role="button">
                <span>Popular</span>
            </label>
        </li>
        <li title="tab 2">
            <label for="tab2" role="button">
                <span>Related Artists</span>
            </label>
        </li>
        <li title="tab 3">
            <label for="tab3" role="button">
                <span>Concerts</span>
            </label>
        </li>
    </ul>
    <div class="slider">
        <div class="indicator"></div>
    </div>

    <div class="content">
        <section>
            <table class="table table-inverse popular-song-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Song</th>
                        <th>Duration</th>
                        <th>Album</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1. </td>
                        <td>One Dance</td>
                        <td>2:53</td>
                        <td>Take Care</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section>
            <div class="row">
                <div *ngFor="let relatedArtist of relatedArtists" class="artist-card col-sm-3 center-block" [routerLink]="['/artists',artist.id]">
                    <div class="artist-card col-sm-3 center-block">
                        <img src=relatedArtist.artistImage>
                        <p>relatedArtist.name</p>
                    </div>
                </div>
            </div>
                <!-- <div class="row">
                  <div class="artist-card col-sm-3 center-block">
                        <img src="http://www.billboard.com/files/media/kendrick-lamar-performance-oct-8-2016-billboard-1548.jpg">
                        <p>Kendric Lamar</p>
                  </div>
                  <div class="artist-card col-sm-3 center-block">
                        <img src="http://www.billboard.com/files/media/kendrick-lamar-performance-oct-8-2016-billboard-1548.jpg">
                        <p>Kendric Lamar</p>
                  </div>
                  <div class="artist-card col-sm-3 center-block">
                        <img src="http://www.billboard.com/files/media/kendrick-lamar-performance-oct-8-2016-billboard-1548.jpg">
                        <p>Kendric Lamar</p>
                  </div>
                  <div class="artist-card col-sm-3 center-block">
                        <img src="http://www.billboard.com/files/media/kendrick-lamar-performance-oct-8-2016-billboard-1548.jpg">
                        <p>Kendric Lamar</p>
                  </div>
            </div> -->
        </section>

        <section>
            <h2>Concerts</h2>
        </section>

    </div>
</div>