<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
      <a class="navbar-brand" href="#"><img style="margin-top: -12px; width:150px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Spotify_logo_with_text.svg/2000px-Spotify_logo_with_text.svg.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Player</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center main-container">
  <div class="row main-row">
    <div class="col-sm-2 left-sidenav style-2">
      <ul class="sidenav-list">
        <li class="sidenav-li list-header">Main</li>
        <li class="sidenav-li"><img class="nav-icon" src="assets/images/browse-icon.png">Browse</li>
        <li class="sidenav-li"><img class="nav-icon" src="assets/images/activity-icon.png">Activity</li>
        <li class="sidenav-li"><img class="nav-icon" src="assets/images/radio-icon.png">Radio</li>
      </ul>
      <ul class="sidenav-list">
        <li class="sidenav-li list-header">Your Music</li>
        <li class="sidenav-li"><img class="nav-icon" src="assets/images/song-icon.png">Songs</li>
        <li class="sidenav-li"><img class="nav-icon" src="assets/images/albums-icon.png">Albums</li>
        <li class="sidenav-li"><img class="nav-icon" src="assets/images/artists-icon.png">Artists</li>
        <li class="sidenav-li"><img class="nav-icon" src="assets/images/local-icon.png">Local</li>
      </ul>
      <ul class="sidenav-list">
        <li class="sidenav-li list-header">Playlists</li>
        <li class="sidenav-li"><img class="nav-icon" src="assets/images/star-icon.png">Starred </li>
        <li class="sidenav-li"><img class="nav-icon" src="assets/images/playlist-icon.png">Best Rap</li>
        <li class="sidenav-li"><img class="nav-icon" src="assets/images/playlist-icon.png">All Time</li>
        <li class="sidenav-li"><img class="nav-icon" src="assets/images/playlist-icon.png">I Dont Even Know</li>
      </ul>
    </div>
    <div class="col-sm-8 text-left content-container style-1">

      <div class="row cover-info-box">
        <div class="col-sm-3 cover-box-left">
          <img width="200" src="assets/images/album-cover.jpg">
        </div>
        <div class="col-sm-9 cover-box-right">
          
          <h1>Best Of Rap </h1>
          Created by John Doe
          <br><br><br><br><br>
          <img width="200" class="nav-icon" src="assets/images/shuffle-play-button.png">
        </div>
      </div>

      <table class="table table-inverse song-table">
        <thead>
          <tr>
            <th>Song</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Drag Me Down</th>
            <td>One Direction</td>
            <td>IDEK</td>
            <td>2 Dyas Ago</td>
          </tr>
          <tr>
            <th>Fuckin Problems</th>
            <td>A$AP</td>
            <td>I Dont Even Know</td>
            <td>2 days ago</td>
          </tr>
          <tr>
            <th>Rockstar</th>
            <td>POst Malone</td>
            <td>Dumb Nigga</td>
            <td>2 Days Ago</td>
          </tr>
          <tr>
            <th>Power Trip</th>
            <td>Jcole</td>
            <td>Forest Hill Drive</td>
            <td>2 Days Ago</td>
          </tr>
          <tr>
            <th>Drag Me Down</th>
            <td>One Direction</td>
            <td>IDEK</td>
            <td>2 Dyas Ago</td>
          </tr>
          <tr>
            <th>Fuckin Problems</th>
            <td>A$AP</td>
            <td>I Dont Even Know</td>
            <td>2 days ago</td>
          </tr>
          <tr>
            <th>Rockstar</th>
            <td>POst Malone</td>
            <td>Dumb Nigga</td>
            <td>2 Days Ago</td>
          </tr>
          <tr>
            <th>Power Trip</th>
            <td>Jcole</td>
            <td>Forest Hill Drive</td>
            <td>2 Days Ago</td>
          </tr>
          <tr>
            <th>Drag Me Down</th>
            <td>One Direction</td>
            <td>IDEK</td>
            <td>2 Dyas Ago</td>
          </tr>
          <tr>
            <th>Fuckin Problems</th>
            <td>A$AP</td>
            <td>I Dont Even Know</td>
            <td>2 days ago</td>
          </tr>
          <tr>
            <th>Rockstar</th>
            <td>POst Malone</td>
            <td>Dumb Nigga</td>
            <td>2 Days Ago</td>
          </tr>
          <tr>
            <th>Power Trip</th>
            <td>Jcole</td>
            <td>Forest Hill Drive</td>
            <td>2 Days Ago</td>
          </tr>

        </tbody>
      </table>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem
        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur Lorem
        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.ipsum
        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.liqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
        id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>
    </div>
    <div class="col-sm-2 right-sidenav">
        <img width="220" src="assets/images/rightnav-temp.png">
    </div>
  </div>



  <div class="footer container-fluid text-center ">

    <div class="col-sm-2 player-buttons-container">
      <img class="player-buttons" src="assets/images/prev.png">
      <img class="player-buttons play-button" src="assets/images/play.png">
      <img class="player-buttons" src="assets/images/next.png">

    </div>
    <div class="col-sm-7 progress-bar-container text-middle">

      <div class="audio-progress" id="audio-progress">
        <div id="draggable-point" style="left:75%;" class="draggable ui-widget-content">
          <!-- <div id="audio-progress-handle"></div> -->
        </div>
        <div id="audio-progress-bar" class="bar" style="width:25%">
        </div>
      </div>


      <!-- <div id="posX"></div> -->
    </div>

    <div class="col-sm-3 player-buttons-container text-left">

      <div class="col-sm-8">
        <img class="player-buttons" src="assets/images/shuffle.png">
        <img class="player-buttons" src="assets/images/media-repeat.png">
        <img class="player-buttons" src="assets/images/volume.png">
      </div>

      <div class="col-sm-4" style="padding:0">
        <div class="volume-progress">
          <div id="draggable-point" style="left:25%;" class="draggable ui-widget-content">
            <!-- <div id="audio-progress-handle"></div> -->
          </div>
          <div id="volume-progress-bar" class="volume-bar" style="width:50%">
          </div>
        </div>
      </div>


    </div>

  </div>

</div>