<mat-horizontal-stepper [linear]="true">
    <!-- Add Playlist Information -->
    <mat-step [stepControl]="playlistIdentityFormGroup">

        <!-- Name textfield -->
        <div style="padding-left:20px;">
            <form #playlistNameForm [formGroup]="playlistIdentityFormGroup" (ngSubmit)="setPlaylistName(playlistNameForm)">
                <ng-template matStepLabel>Playlist Indentity</ng-template>
                <h3>Enter your new playlist's name.</h3>
                <mat-form-field>
                    <input matInput [(ngModel)]="playlistName" placeholder="Playlist Name" formControlName="playlistIdentityControl" required>
                </mat-form-field>
            </form>
        </div>

        <!-- File picker for image (optional) -->
        <div style="padding-left:20px;">
            <h3>Give your playlist a picture (Optional).</h3>
            <button mat-raised-button class="sized" (click)="filePicker.click()" style="margin-right:20px;" type="button">Playlist Image</button>
            <!-- Hidden file picker -->
            <input type="file" style="display:none;" #filePicker (change)="playlistImageSelected($event)" accept="image/*">
            <!-- File Name display -->
            <input type="text" readonly [ngModel]="playlistImageName" style="background-color:transparent; border:none; border-bottom:1px solid white;">
            <!-- Remove file button -->
            <button mat-icon-button *ngIf="playlistImage" (click)="playlistImage=null; playlistImageName='No File Selected';" style="width:36px;height:36px;">
                <mat-icon>clear</mat-icon>
            </button>
        </div>

        <!-- Toggle button for private -->
        <div style="padding-left:20px;">
            <h3>Allow followers to see this playlist.</h3>
            <mat-slide-toggle #privateSlider (click)="setIsPrivate(!privateSlider.checked)">{{(this.isPrivate) ? 'Private' : 'Public'}}</mat-slide-toggle>
        </div>

        <!-- Toggle button for private -->
        <div style="padding-left:20px;">
            <h3>Allow others to edit this playlist.</h3>
            <mat-slide-toggle #collaborativeSlider (click)="setIsCollaborative(!collaborativeSlider.checked)" [disabled]="!allowIsCollaborative">{{(isCollaborative) ? 'Collaborative' : 'Not Collaborative'}}</mat-slide-toggle>
        </div>

        <div style="padding-left:20px;">
            <button mat-button matStepperNext>Next
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </mat-step>

    <mat-step>
        <!-- Pick initial songs (optional) Favorited songs with add button -->
        <div *ngIf="!isLoaded; else songsLoaded;" class="center_loading">
            <mat-spinner color="accent"></mat-spinner>
        </div>
        <ng-template #songsLoaded>
            <h3>Add some of your favorite songs.</h3>
            <p>(You can always add songs later)</p>
            <div id="notAddedSongs" style="margin-bottom: 40px;">

                <!-- Not Added Table -->
                <mat-table #table [dataSource]="notAddedTableManager.tableData" matSort>

                    <!-- Add Button Column -->
                    <ng-container matColumnDef="addButton">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let song">
                            <button mat-icon-button class="song_play_button" [ngStyle]="notAddedTableManager.getButtonVisibility(song.id)" (click)="addSongToPlaylist(song)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <!-- Play Button Column -->
                    <ng-container matColumnDef="playButton">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let song">
                            <button mat-icon-button class="song_play_button" [ngStyle]="notAddedTableManager.getButtonVisibility(song.id)" (click)="notAddedTableManager.playSong(song.id)">
                                <mat-icon>play_circle_filled</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <!-- Title Column -->
                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
                        <mat-cell *matCellDef="let song">{{song.title}}</mat-cell>
                    </ng-container>

                    <!-- Artist Column -->
                    <ng-container matColumnDef="artist">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Artist </mat-header-cell>
                        <mat-cell *matCellDef="let song">{{song.artist.name}}</mat-cell>
                    </ng-container>

                    <!-- Album Column -->
                    <ng-container matColumnDef="album">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Album </mat-header-cell>
                        <mat-cell *matCellDef="let song">{{song.album.title}}</mat-cell>
                    </ng-container>

                    <!-- Duration Column -->
                    <ng-container matColumnDef="duration">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            <mat-icon>schedule</mat-icon>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let song"> {{song.durationString}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="['addButton', 'playButton', 'title', 'artist', 'album', 'duration']"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: ['addButton', 'playButton', 'title', 'artist', 'album', 'duration'];" (mouseenter)="notAddedTableManager.showButtons(row.id)"
                        (mouseleave)="notAddedTableManager.hideButtons(row.id)"></mat-row>
                </mat-table>
            </div>

            <!-- Added Table -->
            <div id="addedSongs">
                <h3>Added Songs</h3>
                <div *ngIf="addedTableManager.tableData.data.length === 0; else hasAddedSongs;">
                    <p>Starting off clean.</p>
                </div>
                <ng-template #hasAddedSongs>
                    <mat-table #table [dataSource]="addedTableManager.tableData" matSort>

                        <!-- Add Button Column -->
                        <ng-container matColumnDef="removeButton">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let song">
                                <button mat-icon-button class="song_play_button" [ngStyle]="addedTableManager.getButtonVisibility(song.id)" (click)="removeSongFromPlaylist(song)">
                                    <mat-icon>remove</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <!-- Play Button Column -->
                        <ng-container matColumnDef="playButton">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let song">
                                <button mat-icon-button class="song_play_button" [ngStyle]="addedTableManager.getButtonVisibility(song.id)" (click)="addedTableManager.playSong(song.id)">
                                    <mat-icon>play_circle_filled</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <!-- Title Column -->
                        <ng-container matColumnDef="title">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
                            <mat-cell *matCellDef="let song">{{song.title}}</mat-cell>
                        </ng-container>

                        <!-- Artist Column -->
                        <ng-container matColumnDef="artist">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Artist </mat-header-cell>
                            <mat-cell *matCellDef="let song">{{song.artist.name}}</mat-cell>
                        </ng-container>

                        <!-- Album Column -->
                        <ng-container matColumnDef="album">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Album </mat-header-cell>
                            <mat-cell *matCellDef="let song">{{song.album.title}}</mat-cell>
                        </ng-container>

                        <!-- Duration Column -->
                        <ng-container matColumnDef="duration">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-icon>schedule</mat-icon>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let song"> {{song.durationString}} </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="['removeButton', 'playButton', 'title', 'artist', 'album', 'duration']"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: ['removeButton', 'playButton', 'title', 'artist', 'album', 'duration'];" (mouseenter)="addedTableManager.showButtons(row.id)"
                            (mouseleave)="addedTableManager.hideButtons(row.id)"></mat-row>
                    </mat-table>
                </ng-template>
            </div>

            <!-- Finish: navigate to playlist page-->
            <div style="margin-top:25px;">
                <button mat-raised-button color="accent" (click)="createPlaylist()">Create</button>
            </div>
        </ng-template>
    </mat-step>
</mat-horizontal-stepper>