* {
    background-color: transparent;
}

.center_loading{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-column-playButton {
    max-width: 28px;
}

.song_play_button {
    max-width: 32px;
    display: flex;
    align-content: center;
}

.mat-column-duration {
    max-width: 48px;
}

.mat-column-favoriteButton {
    max-width: 32px;
}

mat-row:hover {
background-color: grey;
}

.routing_img {
    height: 200px;
    width: 200px;
}

.routing_img:hover {
    cursor: pointer;
}

.flex_row{
    display:flex;
    justify-content: flex-start;
}

h3{
    margin-left:20px;
    font-weight:bold;
}

.hoverable:hover{
    color:white;
}