.wrapper_horizontal{
  display:grid;
  height:80%;
  grid-template-columns: 10% 75% 15%;
}

.allign{
  vertical-align: middle;
}

.round{
  border-radius: 25px;
}


/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
position: absolute;
padding: 10px;
pointer-events: none;
}

.left-addon .glyphicon  { left:  0px;}
.left-addon input  { padding-left:  30px; }

.greyd{
  background-color:#f8f8f8
}

.pulse:before,
.pulse:after{
  content: '';
  display: block;
  position: absolute;
  border: 50%;
  border: 1px solid #FF5B36;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius:50%;
  animation: animate 1.5s linear infinite;
  opacity: 0;
}


.pulse:after{
  animation-delay: .5s;
}

@keyframes animate{
  0%{
    transform: scale(0.5);
    opacity: 0;
  }

  50%{
    opacity: 1;
  }

  100%{
    transform: scale(1.2);
    opacity: 0;
  }
}
