<div class="grid1" id="top_wrapper">
    <!-- Item 1 -->
    <img class="logo_sized" src="assets/images/mainlogo.png" alt="Logo">
    <!-- Item 2 -->
    <div>
        <form (ngSubmit)="search(searchForm.form.value.searchQuery)" #searchForm="ngForm">
            <div id="search_wrapper">
                <mat-icon class="search_icon">search</mat-icon>
                <input type="text" class="search_bar" name="searchQuery" ngModel style="padding-left:25px;" placeholder="Search">
            </div>
        </form>
    </div>
    <!-- Item 3 -->
    <div *ngIf="user && user.profileImageUrl" class="flex_row_end" style="padding-right:5px;">
        <img [src]="user.profileImageUrl" alt="Profile Picture" 
             class="profile_picture" [routerLink]="['/user/'+ user.username]">
        <!-- Username -->
        <div class="light" style="margin-right:10px;">{{user.username}}</div>

        <button mat-icon-button matTooltip="Settings" [routerLink]="['/userSettings']">
            <mat-icon class="light">settings</mat-icon>
        </button>

        <a href="/logout" mat-icon-button matTooltip="Logout">
            <mat-icon class="light">exit_to_app</mat-icon>
        </a>
    </div>
</div>

<button class="btn btn-grn positioned" *ngIf="user && !user.isPremium" (click)="goPremium()">GO PREMIUM</button>