<div id="album-wrapper">
  <div id="album-info" class="col-sm-4">
    <div class="col-sm-12">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIyMP_kyt9Ep7aBn-EWYO7y_BGlv2uZTfiL7pHXf2AkaxsCxO6">
    </div>
    <div class="col-sm-12">
      <h3 class="album-title">Take Care</h3>

      <h5>By <span id="artist-name">Drake</span></h5>
    </div>
    <button class="btn btn-green">PLAY</button>
    <button class="btn btn-yellow">FAVORITE</button>

  </div>

  <div id="album-tracklist" class="col-sm-8"></div>
  <table class="table table-inverse song-table album-tracklist-table">
      <thead>
        <tr>
          <th>Song</th>

          <th>Album</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Drag Me Down</th>

          <td>IDEK</td>
          <td>2 Days Ago</td>
        </tr>
        <tr>
      </tbody>
    </table>
</div>
