<mat-horizontal-stepper [linear]="isLinear">
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup" (ngSubmit)="storeNewPassword(passwordForm)" #passwordForm="ngForm">
            <ng-template matStepLabel>New password</ng-template>
            <p>Enter a new password.</p>
            <mat-form-field>
                <input matInput [ngModel]="emptyString" placeholder="New Password" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <mat-step>
        <div *ngIf="success; else security;">
            Your password has been updated!.
            <div>
                <button mat-raised-button color="accent">Close</button>
            </div>
        </div>

        <ng-template #security>
            <form (ngSubmit)="checkCode(securityCodeForm)" #securityCodeForm="ngForm">
                <ng-template matStepLabel>Security Code</ng-template>
                <p>Enter the Security Code that was sent to your email.</p>

                <mat-form-field>
                    <input matInput placeholder="Code" required (input)="modifyError()" name="code" ngModel>
                </mat-form-field>
                <div>
                    <button mat-raised-button color="accent" [disabled]="emailingUser" type="submit">Submit</button>
                </div>
                <div *ngIf="error">
                    <p style="color:red;">Invalid Security Code</p>
                </div>
            </form>
        </ng-template>

    </mat-step>
</mat-horizontal-stepper>