<div class="col-sm-2 left-sidenav style-2">
  <ul class="sidenav-list">
    <li class="sidenav-li Collapsable list-header">Main</li>
    <li class="sidenav-li"><img class="nav-icon" src="assets/images/browse-icon.png">Browse</li>
    <li class="sidenav-li"><img class="nav-icon" src="assets/images/activity-icon.png">Activity</li>
    <li class="sidenav-li"><img class="nav-icon" src="assets/images/radio-icon.png">Radio</li>
  </ul>
  <ul class="sidenav-list">
    <li class="sidenav-li list-header Collapsable">Your Music</li>
    <li class="sidenav-li"><img class="nav-icon" src="assets/images/song-icon.png">Songs</li>
    <li class="sidenav-li"><img class="nav-icon" src="assets/images/albums-icon.png">Albums</li>
    <li class="sidenav-li"><img class="nav-icon" src="assets/images/artists-icon.png">Artists</li>
    <li class="sidenav-li"><img class="nav-icon" src="assets/images/local-icon.png">Local</li>
  </ul>
  <ul class="sidenav-list">
    <li class="sidenav-li list-header Collapsable">Playlists</li>
    <li class="sidenav-li"><img class="nav-icon" src="assets/images/star-icon.png">Starred </li>
    <li class="sidenav-li"><img class="nav-icon" src="assets/images/playlist-icon.png">Best Rap</li>
    <li class="sidenav-li"><img class="nav-icon" src="assets/images/playlist-icon.png">All Time</li>
    <li class="sidenav-li"><img class="nav-icon" src="assets/images/playlist-icon.png">I Dont Even Know</li>
  </ul>
</div>
