<div id="side_nav" class="flex_column light">
    <div class="hover" style="margin-top:20px;">
        <mat-icon ngClass="getClass('/browse')" style="margin-right:5px;">library_music</mat-icon>
        <h5 [routerLink]="['/browse']">Browse</h5>
    </div>

    <div class="hover">
        <mat-icon ngClass="getClass('/radio')" style="margin-right:5px;">radio</mat-icon>
        <h5 [routerLink]="['/instruments']">Instruments</h5>
        <!-- <h5 [routerLink]="['/playlists']">Instruments</h5> -->
    </div>

    <!-- Music Library -->
    <div class="nav_block_header">Your Music</div>

    <div class="hover">
        <mat-icon ngClass="getClass('/artists')" style="margin-right:5px;">recent_actors</mat-icon>
        <h5 [routerLink]="['/artists']">Artists</h5>
    </div>

    <div class="hover">
        <mat-icon ngClass="getClass('/albums')" style="margin-right:5px;">album</mat-icon>
        <h5 [routerLink]="['/albums']">Albums</h5>
    </div>

    <div class="hover">
        <mat-icon ngClass="getClass('/songs')" style="margin-right:5px;">music_video</mat-icon>
        <h5 [routerLink]="['/songs']">Songs</h5>
    </div>

    <!-- Playlists -->
    <div class="nav_block_header flex_row">
        <div [routerLink]="['/playlists']" class="hover">Playlists</div>
        <div style="padding-left:25px;">
            <button mat-icon-button matTooltip="Add a New Playlist"
                    [routerLink]="['/createPlaylist']" class="hover">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <div *ngFor="let playlist of playlists" class="hover">
        <h4 [routerLink]="['/playlists', playlist.id]">{{playlist.name}}</h4>
    </div>
</div>
