<div>
  <table>
    <tr (click)="navigateBrowse()"><td>Browse</td></tr>
    <tr (click)="navigateRadio()"><td>Radio</td></tr>
    <tr (click)="navigateSongs()"><td>Songs</td></tr>
    <tr (click)="navigateAlbums()"><td>Albums</td></tr>
    <tr (click)="nagivateArtists()"><td>Artists</td></tr>
    <tr><th><u>Playlists</u></th></tr>
    <tr *ngFor="let playlist of playlists" (click)="navigatePlaylist(playlist.playlist_id)">
      <td class="long_playlist">{{playlist.playlist_name}}</td>
    </tr>

  </table>
</div>
