<div id="wrapper">

  <!-- Main -->
  <section id="main">
    <header>
      <h1>Log In</h1>
      <br>
      <span class="avatar"><img width="100" src="assets/images/musioLogo3.png" alt="" /></span>


      <form>
        <div>
          Username
          <input type="text" placeholder="" required="" id="username" />
        </div>
        <br>
        <div>
          Password
          <input type="password" placeholder="" required="" id="password" />
        </div>
        <br>
        <div>
          <input type="submit" value="Log in" (click)="onLogIn()">
          <br><br>
          <a [routerLink]="['/recover-password']">Lost your password?</a>
          <a [routerLink]="['/registration']">Register</a>
        </div>
      </form>

    </header>

  </section>



</div>
