<div *ngIf="loading; else loaded" class="center_loading">
    <mat-spinner color="accent"></mat-spinner>
</div>

<ng-template #loaded>
    <div class="full_size">
        <h3 style="padding-left:20px;">Instruments</h3>
        <mat-grid-list cols="4" rowHeight="4:1">
            <mat-grid-tile *ngFor="let instrument of instruments" class="flex_center hover" [routerLink]="['/instruments',instrument.id]">
                {{instrument.name}}
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</ng-template>