.full_size{
    width:100%;
    height:100%;
}

.flex_center{
    display:flex;
    justify-content: center;
    align-items: center;
}

.center_loading{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
.hover{
    cursor: pointer;
}
.hover:hover{
    color:white;
}