<div *ngIf="!artists; else hasArtists">
    <p>No Artists Found: Find some artists to follow in browse.</p>
    <a [routerLink]="['/browse']">Find Artists</a>
</div>
<ng-template #hasArtists>
    <div class="row">
        <div class="artist-collection-container">
            <div *ngFor="let artist of artists" class="artist-card col-sm-3 center-block" [routerLink]="['/artists', artist.id]">
                <!-- <img *ngIf="!artistImage; else defaultArt" src="{{artist.artistImageUrl}}">
                <ng-template #defaultArt>
                    <img src="assets/images/no_artist_picture.png" alt="">
                </ng-template> -->
                <img src="{{artist.artistImageUrl}}" alt="{{artist.name}}">
                <p>{{artist.name}}</p>
            </div>
        </div>
    </div>
</ng-template>