<div class="col-sm-8 text-left content-container style-1">
    
          <div class="row cover-info-box">
            <div class="col-sm-3 cover-box-left">
              <img width="200" src="assets/images/album-cover.jpg">
            </div>
            <div class="col-sm-9 cover-box-right">
              
              <h1>Best Of Rap </h1>
              Created by John Doe
              <br><br><br><br><br>
              <img width="200" class="nav-icon" src="assets/images/shuffle-play-button.png">
            </div>
          </div>
    
          <table class="table table-inverse song-table">
            <thead>
              <tr>
                <th>Song</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Drag Me Down</th>
                <td>One Direction</td>
                <td>IDEK</td>
                <td>2 Dyas Ago</td>
              </tr>
              <tr>
                <th>Fuckin Problems</th>
                <td>A$AP</td>
                <td>I Dont Even Know</td>
                <td>2 days ago</td>
              </tr>
              <tr>
                <th>Rockstar</th>
                <td>POst Malone</td>
                <td>Dumb Nigga</td>
                <td>2 Days Ago</td>
              </tr>
              <tr>
                <th>Power Trip</th>
                <td>Jcole</td>
                <td>Forest Hill Drive</td>
                <td>2 Days Ago</td>
              </tr>
              <tr>
                <th>Drag Me Down</th>
                <td>One Direction</td>
                <td>IDEK</td>
                <td>2 Dyas Ago</td>
              </tr>
              <tr>
                <th>Fuckin Problems</th>
                <td>A$AP</td>
                <td>I Dont Even Know</td>
                <td>2 days ago</td>
              </tr>
              <tr>
                <th>Rockstar</th>
                <td>POst Malone</td>
                <td>Dumb Nigga</td>
                <td>2 Days Ago</td>
              </tr>
              <tr>
                <th>Power Trip</th>
                <td>Jcole</td>
                <td>Forest Hill Drive</td>
                <td>2 Days Ago</td>
              </tr>
              <tr>
                <th>Drag Me Down</th>
                <td>One Direction</td>
                <td>IDEK</td>
                <td>2 Dyas Ago</td>
              </tr>
              <tr>
                <th>Fuckin Problems</th>
                <td>A$AP</td>
                <td>I Dont Even Know</td>
                <td>2 days ago</td>
              </tr>
              <tr>
                <th>Rockstar</th>
                <td>POst Malone</td>
                <td>Dumb Nigga</td>
                <td>2 Days Ago</td>
              </tr>
              <tr>
                <th>Power Trip</th>
                <td>Jcole</td>
                <td>Forest Hill Drive</td>
                <td>2 Days Ago</td>
              </tr>
    
            </tbody>
          </table>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem
            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur
            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur Lorem
            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur
            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.ipsum
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur
            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.liqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <hr>
          <h3>Test</h3>
          <p>Lorem ipsum...</p>
        </div>