<div *ngIf="!user; else userLoaded" class="center_loading">
    <mat-spinner color="accent" class="center_loading"></mat-spinner>
</div>
<ng-template #userLoaded>
    <mat-card class="userSettings flex_center">
        <div class="flex_column padder">
            <h4>User Settings</h4>
            <button mat-raised-button class="sized" type="button" (click)="passwordDialog()">Change Password</button>
            <button mat-raised-button class="sized" type="button" (click)="pictureDialog()">Change Profile Picture</button>
            <div class="grid">
                <div class="flex_column">
                    <h4>Music Quality</h4>
                    <mat-slide-toggle [disabled]="!isPremiumUser" (change)="audioToggle($event)">{{quality_name}}</mat-slide-toggle>
                </div>

                <div class="flex_column">
                    <h4>Session Type</h4>
                    <mat-slide-toggle (change)="sessionToggle($event)">{{session_type}}</mat-slide-toggle>
                </div>
            </div>
            <button mat-raised-button class="sized" type="button" (click)="deleteDialog()">Delete Account</button>
        </div>
    </mat-card>
</ng-template>
