<div class="grid" id="play_wrapper">
    <div style="max-width:20vw;margin-left:10px;">
        <div *ngIf="currentSong" class="flex_start">
            <mat-icon style="font-size:50px;width:50px;height:50px;">album</mat-icon>
            <div class="flex_start_column cut_off ellipsis">
                <p style="color:#ddd; font-size:12px;">{{currentSong.title}}</p>
                <p *ngIf="currentSong.album" style="color:#ddd;">{{currentSong.album.title}}</p>
            </div>
            <button mat-icon-button>
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <div class="flex_column">
        <div class="flex_center" style="height:30px;">
            <div *ngIf="currentSong; else noSong;">
                <mat-slider class="play_bar" min="0" max="{{currentSong.duration}}" step="0.1" [(ngModel)]="songProgress"></mat-slider>
                <!-- <p>{{songProgress}}:{{currentSong.duration}}</p> -->
            </div>
            <ng-template #noSong>
                <mat-slider class="play_bar" min="0" max="1" step="1" value="0"></mat-slider>
            </ng-template>
        </div>
        <div class="flex_center" style="width:100%;padding-bottom:20px;">
            <button mat-icon-button>
                <mat-icon>shuffle</mat-icon>
            </button>
            <button mat-icon-button (click)="playLast()">
                <mat-icon>skip_previous</mat-icon>
            </button>
            <div *ngIf="isPlaying; else isPaused;">
                <button mat-icon-button (click)="pause()">
                    <mat-icon class="play">pause_circle_outline</mat-icon>
                </button>
            </div>
            <ng-template #isPaused>
                <button mat-icon-button (click)="play()">
                    <mat-icon class="play">play_circle_outline</mat-icon>
                </button>
            </ng-template>
            <button mat-icon-button (click)="playNext()">
                <mat-icon>skip_next</mat-icon>
            </button>
            <button mat-icon-button (click)="repeat()">
                <mat-icon>repeat</mat-icon>
            </button>
        </div>
    </div>

    <div class="flex_end" style="margin-right:5px;">
        <button mat-icon-button (click)="showLyrics()">
            <mat-icon>closed_caption</mat-icon>
        </button>
        <div *ngIf="isMuted; else isNotMuted;">
            <button mat-icon-button (click)="muteOrUnmute()">
                <mat-icon>volume_off</mat-icon>
            </button>
        </div>
        <ng-template #isNotMuted>
            <button mat-icon-button (click)="muteOrUnmute()">
                <mat-icon>volume_up</mat-icon>
            </button>
        </ng-template>
        <mat-slider min="0" max="1.0" step="0.01" [(ngModel)]="volume" (change)="adjustVolume()" style="margin-right:10px;"></mat-slider>
    </div>
</div>
