<div id="album-wrapper">
  <div id="album-info" class="col-sm-4">
    <div class="col-sm-12">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIyMP_kyt9Ep7aBn-EWYO7y_BGlv2uZTfiL7pHXf2AkaxsCxO6">
    </div>
    <div class="col-sm-12">
      <h3 class="album-title">Take Care</h3>

      <h5>By <span id="artist-name">Drake</span></h5>
    </div>
    <button class="btn btn-green">PLAY</button>
    <button class="btn btn-yellow">FAVOURITE</button>

  </div>

  <div id="album-tracklist" class="col-sm-8"></div>
  <table class="table table-inverse song-table album-tracklist-table">
      <thead>
        <tr>
          <th>Song</th>

          <th>Album</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Drag Me Down</th>
     
          <td>IDEK</td>
          <td>2 Dyas Ago</td>
        </tr>
        <tr>
          <th>Problems</th>
     
          <td>I Dont Even Know</td>
          <td>2 days ago</td>
        </tr>
        <tr>
          <th>Rockstar</th>
      
          <td>N/A</td>
          <td>2 Days Ago</td>
        </tr>
        <tr>
          <th>Power Trip</th>
      
          <td>Forest Hill Drive</td>
          <td>2 Days Ago</td>
        </tr>
        <tr>
          <th>Drag Me Down</th>

          <td>IDEK</td>
          <td>2 Dyas Ago</td>
        </tr>
        <tr>
          <th>Problems</th>

          <td>I Dont Even Know</td>
          <td>2 days ago</td>
        </tr>
        <tr>
          <th>Rockstar</th>
      
          <td>N/A</td>
          <td>2 Days Ago</td>
        </tr>
        <tr>
          <th>Power Trip</th>
      
          <td>Forest Hill Drive</td>
          <td>2 Days Ago</td>
        </tr>
        <tr>
          <th>Drag Me Down</th>
       
          <td>IDEK</td>
          <td>2 Dyas Ago</td>
        </tr>
        <tr>
            <th>Drag Me Down</th>
       
            <td>IDEK</td>
            <td>2 Dyas Ago</td>
          </tr>
          <tr>
            <th>Problems</th>
       
            <td>I Dont Even Know</td>
            <td>2 days ago</td>
          </tr>
          <tr>
            <th>Rockstar</th>
        
            <td>N/A</td>
            <td>2 Days Ago</td>
          </tr>
          <tr>
            <th>Power Trip</th>
        
            <td>Forest Hill Drive</td>
            <td>2 Days Ago</td>
          </tr>
          <tr>
            <th>Drag Me Down</th>
  
            <td>IDEK</td>
            <td>2 Dyas Ago</td>
          </tr>
          <tr>
            <th>Problems</th>
  
            <td>I Dont Even Know</td>
            <td>2 days ago</td>
          </tr>
          <tr>
            <th>Rockstar</th>
        
            <td>N/A</td>
            <td>2 Days Ago</td>
          </tr>
          <tr>
            <th>Power Trip</th>
        
            <td>Forest Hill Drive</td>
            <td>2 Days Ago</td>
          </tr>
          <tr>
            <th>Drag Me Down</th>
         
            <td>IDEK</td>
            <td>2 Dyas Ago</td>
          </tr>
    
      </tbody>
    </table>
</div>