<div id="wrapper">

  <!-- Main -->
  <section id="main">
    <header>
      <h1>Registration</h1>
      <br>

      <form action="">
        <div>
          <input type="email" placeholder="Email" required="" id="email" />
        </div>
        <br>
        <div>
          <input type="text" placeholder="Username" required="" id="username" />
        </div>
        <div>
          <input type="password" placeholder="Password" required="" id="password" />
        </div>
        <br>
        <div>
          <input type="submit" value="Get Started" />
        </div>
      </form>
    </header>

  </section>



</div>
