<div *ngIf="!isLoaded; else playlistLoaded;" class="center_loading">
    <mat-spinner color="accent"></mat-spinner>
</div>
<ng-template #playlistLoaded>
    <div id="playlist-wrapper">
        <div id="playlist-info">
            <div>
                <!-- <img src="{{playlist.playlistImageUrl}}"> -->
                <img src="/assets/images/default_art.png" class="img_sized">
            </div>
            <div>
                <h3 class="album-title">{{playlist.name}}</h3>
            </div>
            <button class="btn btn-green block-center">PLAY</button>

            <div>
                <div *ngIf="isFavorited; else favorite">
                    <button class="btn btn-black glyphicon glyphicon-heart" (click)="unfavoritePlaylist()"></button>
                </div>
                <ng-template #favorite>
                    <button class="btn btn-grey " (click)="favoritePlaylist()">FAVORITE</button>
                </ng-template>
            </div>

            <button *ngIf="isOwner" class="btn btn-red" (click)="deletePlaylist()">DELETE</button>

        </div>

        <div id="playlist-tracklist"></div>
        <div *ngIf="!hasSongs; else notEmpty" style="padding:20px;">
            <p>No Songs Found.</p>
            <a [routerLink]="['/browse']">Find Songs</a>
        </div>
        <ng-template #notEmpty>
            <div id="album-tracklist" style="margin: 20px;">
                <mat-table #table [dataSource]="songTableManager.tableData" matSort>

                    <!-- Play Button Column -->
                    <ng-container matColumnDef="playButton">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let song">
                            <button mat-icon-button class="song_play_button" [ngStyle]="songTableManager.getButtonVisibility(song.id)" (click)="songTableManager.playSong(song.id)">
                                <mat-icon>play_circle_filled</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <!-- Title Column -->
                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
                        <mat-cell *matCellDef="let song">{{song.title}}</mat-cell>
                    </ng-container>

                    <!-- Artist Column -->
                    <ng-container matColumnDef="artist">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Artist </mat-header-cell>
                        <mat-cell *matCellDef="let song">{{song.artist.name}}</mat-cell>
                    </ng-container>

                    <!-- Album Column -->
                    <ng-container matColumnDef="album">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Album </mat-header-cell>
                        <mat-cell *matCellDef="let song">{{song.album.title}}</mat-cell>
                    </ng-container>

                    <!-- Remove Button Column -->
                    <ng-container matColumnDef="removeButton">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let song">
                            <button mat-icon-button class="song_play_button" [ngStyle]="songTableManager.getButtonVisibility(song.id)" (click)="removeSongFromPlaylist(song)">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <!-- Duration Column -->
                    <ng-container matColumnDef="duration">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            <mat-icon>schedule</mat-icon>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let song"> {{song.durationString}} </mat-cell>
                    </ng-container>

                    <!-- Favorite Button Column -->
                    <ng-container matColumnDef="favoriteButton">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let song">
                            <button mat-icon-button class="song_favorite_button" (click)="songTableManager.favoriteOrUnfavoriteSong(song.id)">
                                <mat-icon>{{songTableManager.getFavoritedIcon(song.id, song.isFavorited)}}</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="['playButton', 'title', 'artist', 'album', 'removeButton', 'duration', 'favoriteButton']"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: ['playButton', 'title', 'artist', 'album', 'removeButton', 'duration', 'favoriteButton'];"
                        (mouseenter)="songTableManager.showButtons(row.id)" (mouseleave)="songTableManager.hideButtons(row.id)"></mat-row>
                </mat-table>
            </div>
        </ng-template>
    </div>
</ng-template>